#oldoverlay {
width:100%;
height:100%;
margin:auto;
position:absolute;
top:0;
left:0;
z-index:9999;
overflow:auto;
background:#fff url(../img/updatebg.png) top no-repeat
}

.topoverlay {
color:#374246;
margin:20% auto;
width:450px;
height:250px;
background:#e0e0de;
padding:40px
}

.topoverlay p {
color:#374246;
font-size:20px;
margin-bottom:40px
}

.topoverlay h2 {
border-bottom:1px solid #374246;
padding-bottom:15px;
margin-bottom:30px;
text-transform:none;
text-align:center;
color:#374246
}

.buttonsover {
margin:0 auto
}

.sidebar {
margin-left:60px
}

.holesidebar {
margin-left:100px!important
}

.logo {
height:435px
}

.mainarea {
margin:0 auto;
position:relative
}

.btmgrad {
position:relative;
z-index:9990;
background:url(../img/bottom-grad.png)bottom no-repeat;
background-size:100% 7px;
padding-bottom:30px
}

.topgrad {
position:relative;
z-index:9990;
background:url(../img/bottom-grad.png) top no-repeat;
background-size:100% 7px;
height:7px;
margin-top:20px
}

.buttonnav {
width:260px
}

.detaillogo {
height:120px;
width:auto;
margin-right:20px;
margin-top:-20px
}

.holelogo {
height:120px;
width:auto;
margin-left:40px;
margin-right:20px;
margin-top:-20px
}

.holeimage {
float:right
}

h2 {
color:#3e3e3e;
line-height:1;
font-weight:400;
text-transform:uppercase;
font-size:36px
}

.coursedetails h3 {
text-transform:uppercase;
font-size:33px;
color:#3e3e3e;
letter-spacing:1px;
line-height:33px;
margin-top:20px;
margin-bottom:0;
font-weight:500
}

.coursedetails h4 {
margin-top:0;
margin-bottom:0;
text-transform:uppercase;
font-size:22px;
letter-spacing:1px;
color:#3e3e3e;
line-height:30px;
font-weight:400
}

.coursedetails h5 {
font-size:24px;
color:#AD8852;
font-weight:500;
text-transform:uppercase;
margin-top:5px
}

.coursename {
margin:40px 35px 0 0;
}

.coursename h3 {
text-align:center;
font-size:26px;
line-height:1;
color:#AD8852;
font-weight:400;
text-transform:uppercase;
display:block;
letter-spacing:1px
}

.copyright {
margin-left:60px;
margin-top:30px;
margin-bottom:0;
color:#9b9b9b;
font-size:12px;
float:left
}

.copyright a {
color:#9b9b9b;
text-decoration:underline
}

.instructions {
float:left;
margin-left:50px;
margin-top:28px;
color:#9b9b9b;
margin-bottom:0;
font-size:16px
}

.bottomnav {
height:230px;
position:relative
}

.sticky {
position:absolute;
bottom:0
}

.dropdown-menu {
position:absolute;
top:55px;
left:163px;
z-index:1000;
display:none;
float:left;
min-width:117px;
font-size:18px;
padding:5px 0;
margin:2px 0 0;
list-style:none;
background-color:#f2f2f2;
border:1px solid #ccc;
border:1px solid rgba(0,0,0,0.2);
-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
box-shadow:0 5px 10px rgba(0,0,0,0.2);
-webkit-background-clip:padding-box;
-moz-background-clip:padding;
background-clip:padding-box;
border-radius:0
}

.holedetails {
margin-left:60px;
height:390px
}

.hole_par h2 {
margin-top:32px;
font-size:20px
}

.yards {
width:89%;
margin-top:32px;
padding-bottom:32px
}

.yard {
width:20%;
float:left;
max-height:29px
}

.yard p {
float:left;
font-size:20px;
line-height:29px;
height:29px
}

.yrdBlack,.yrdBlue,.yrdWhite,.yrdRed,.yrdGreen, .yrdYellow {
width:10px;
height:29px;
-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.3);
box-shadow:1px 1px 3px 1px rgba(0,0,0,0.3);
display:inline-block;
margin-right:12%;
float:left
}

.description p {
margin-top:32px;
font-size:18px;
line-height:24px;
margin-bottom:16px
}

.nav {
margin:-7px 0 0 60px
}

.nav .btn-new {
float:left;
margin-right:10px;
width:auto;
padding:0 25px
}

.btn-new {
margin-bottom:10px;
text-decoration:none;
display:block;
width:100%;
background:#fff;
background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(224,225,222,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(224,225,222,1)));
background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(224,225,222,1) 100%);
background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(224,225,222,1) 100%);
background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(224,225,222,1) 100%);
background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(224,225,222,1) 100%);
-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,.21);
box-shadow:0 2px 2px 0 rgba(0,0,0,.21);
text-align:center;
color:#9b9b9b;
font-size:17px;
font-family:"futura-pt",arial,sans-serif;
font-weight:500;
border:1px solid #f2f2f2;
height:51px!important;
line-height:51px
}

.btn-new:hover {
color:#838181!important;
text-decoration:none!important
}

.inactive {
opacity:.7;
background:-moz-linear-gradient(top,rgba(224,225,222,1) 0%,rgba(255,255,255,1) 100%)!important;
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgbargba(224,225,222,1)),color-stop(100%,rgba(255,255,255,1)))!important;
background:-webkit-linear-gradient(top,rgbargba(224,225,222,1) 0%,rgba(255,255,255,1) 100%)!important;
background:-o-linear-gradient(top,rgbargba(224,225,222,1) 0%,rgba(255,255,255,1) 100%)!important;
background:-ms-linear-gradient(top,rgbargba(224,225,222,1) 0%,rgba(255,255,255,1) 100%)!important;
background:linear-gradient(to bottom,rgbargba(224,225,222,1) 0%,rgba(255,255,255,1) 100%)!important;
-webkit-box-shadow:none!important;
box-shadow:none!important
}

#tooltip {
position:absolute;
width:252px;
height:147px;
background:url(../img/tooltip.png) no-repeat;
padding-top:4px;
padding-left:20px;
z-index:1000;
display:none
}

#tooltip .inner {
position:relative;
width:252px;
height:147px
}

#tooltip img {
position:absolute;
right:30px
}

#tooltip h2,h3,p {
color:#3e3e3e;
line-height:1;
font-weight:400
}

#tooltip .details {
float:left
}

#tooltip h2 {
font-size:26px;
text-transform:uppercase
}

#tooltip h3 {
text-transform:none;
color:#3E3E3E;
text-align:left;
font-size:17px
}

#tooltip a {
color:#F01616;
text-transform:uppercase;
padding-right:14px;
background:url(../img/tooltip-link.png) no-repeat right center
}

#tooltip a:hover {
text-decoration:none
}

#tooltip-btm {
position:absolute;
width:252px;
height:147px;
background:url(../img/tooltip-btm.png) no-repeat;
padding-top:20px;
padding-left:20px;
z-index:1000;
display:none
}

#tooltip-btm .inner {
position:relative;
width:252px;
height:147px
}

#tooltip-btm img {
position:absolute;
right:30px
}

#tooltip-btm h2,h3,p {
color:#3e3e3e;
line-height:1;
font-weight:400
}

#tooltip-btm .details {
float:left
}

#tooltip-btm h2 {
font-size:26px;
text-transform:uppercase
}

#tooltip-btm h3 {
text-transform:none;
color:#3E3E3E;
text-align:left;
font-size:17px
}

#tooltip-btm a {
color:#F01616;
text-transform:uppercase;
padding-right:14px;
background:url(../img/tooltip-link.png) no-repeat right center
}

#tooltip-btm a:hover {
text-decoration:none
}

#tooltip-left {
position:absolute;
width:252px;
height:147px;
background:url(../img/tooltip-left.png) no-repeat;
padding-top:4px;
padding-left:20px;
z-index:1000;
display:none
}

#tooltip-left .inner {
position:relative;
width:252px;
height:147px
}

#tooltip-left img {
position:absolute;
right:30px
}

#tooltip-left h2,h3,p {
color:#3e3e3e;
line-height:1;
font-weight:400
}

#tooltip-left .details {
float:left
}

#tooltip-left h2 {
font-size:26px;
text-transform:uppercase
}

#tooltip-left h3 {
text-transform:none;
color:#3E3E3E;
text-align:left;
font-size:17px
}

#tooltip-left a {
color:#F01616;
text-transform:uppercase;
padding-right:14px;
background:url(../img/tooltip-link.png) no-repeat right center
}

#tooltip-left a:hover {
text-decoration:none
}

.watsonscores {
margin:0 auto 0 190px
}

.score-header {
width:600px;
margin:0 auto;
display:block;
text-align:center
}

.score-buttons {
margin-bottom:70px
}

.score-buttons ul {
width:400px;
margin:-6px auto 0;
z-index:9999;
list-style:none
}

.score-buttons ul li {
height:51px;
float:left;
position:relative;
z-index:999;
margin-left:3px;
width:48%
}

.score-buttons ul li a {
margin:0!important;
color:#F01616;
text-transform:uppercase
}

.scorecard {
width:77%;
margin:0 auto
}

.scorecard table {
width:48.5%;
float:left;
margin-top:10px
}

.scorecard table:first-of-type {
margin-right:2%
}

.scorecard table tr {
line-height:40px
}

.scorecard table tr:first-of-type,.scorecard table tr:last-of-type {
width:53px;
padding:0
}

.scorecard table tr td {
text-align:center;
color:#263f52;
font-size:16px;
text-transform:uppercase;
width:11%
}

.scorecard table tr td:first-of-type,.scorecard table tr td:last-of-type {
text-align:center;
width:9%;
padding:0
}

tr.tableClass-a td {
border-left:1px solid #c6c6c6;
border-bottom:1px solid #c6c6c6;
border-right:1px solid #c6c6c6
}

tr.tableClass-b td,tr.tableClass-c td {
background-color:#e5e5e5;
border-top:1px solid #F2F2F2;
border-bottom:1px solid #c6c6c6;
border-left:1px solid #c6c6c6;
border-right:1px solid #c6c6c6
}

tr.tableClass-c td {
background-color:#e0e0e0
}

tr.tableClass-b td:nth-of-type(2),tr.tableClass-b td:nth-of-type(4),tr.tableClass-b td:nth-of-type(6) {
border-top:1px solid #F2F2F2;
border-bottom:1px solid #c6c6c6;
border-left:1px solid #F2F2F2;
border-right:1px solid #F2F2F2
}

tr.tableClass-b td:first-of-type,tr.tableClass-b td:last-of-type {
background:#f2f2f2;
border-top:1px solid #F2F2F2;
border-bottom:1px solid #c6c6c6;
border-left:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
width:9%!important
}

tr.tableClass-b td:last-of-type {
border-bottom:0
}

tr.tableClass-b2 td {
background-color:#e0e0e0
}

tr.tableClass-b3 td {
background:none;
padding:0!important;
width:90px!important
}

tr.tableClass-b3 td:last-of-type {
border-bottom:1px solid #c6c6c6;
border-right:0
}

tr.tableClass-b3 td:first-of-type {
border-left:0
}

tr.tableClass-d td,tr.tableClass-e td {
background-color:#fff;
border-top:1px solid #F2F2F2;
border-bottom:2px solid #F2F2F2;
border-left:1px solid #c6c6c6
}

tr.tableClass-d td:last-of-type {
background-color:#fff;
border-bottom:2px solid #F2F2F2;
border-left:1px solid #c6c6c6;
border-right:1px solid #c6c6c6
}

table.coltSC {
float:right;
margin-right:5px;
margin-top:10px;
border-top:1px solid #c6c6c6!important
}

.labelBlack,.labelBlue,.labelWhite,.labelRed,.labelGreen, .labelYellow {
width:10px;
height:10px;
border:1px solid #A5A6A8;
margin:0 auto
}

.labelBlack,.yrdBlack {
background:#000
}

.labelBlue,.yrdBlue {
background:#0A5AC7
}

.labelWhite,.yrdWhite {
background:#FFF
}

.labelRed,.yrdRed {
background:#F0060B
}

.labelGreen,.yrdGreen {
background:#3E663A
}

.labelYellow,.yrdYellow {
background:#F9D423
}

.cam_information,.cam_information2 {
position:absolute;
z-index:9995;
background-color:#E0E1DE;
padding:10px;
width:240px;
background-position:initial initial;
background-repeat:initial initial;
-webkit-box-shadow:2px 2px 4px 1px rgba(0,0,0,.15);
box-shadow:2px 2px 4px 1px rgba(0,0,0,.15);
display:none
}

.cam_information2 {
margin-top:65px
}

.cam_information,.cam_information2 {
height:auto;
width:auto;
padding:8px;
left:-400px;
cursor:pointer
}

.cam_information img,.cam_information2 img {
display:block
}

.cam_information a {
border:0
}

.cam_information img {
border:0
}

.cam_information .zoom_icon,.cam_information2 .zoom_icon {
height:23px;
width:23px;
background:url(../img/zoom_icon.png);
position:absolute;
right:19px;
top:15px;
z-index:9999
}

.cam_information:after/* triangle decoration */ {
width:0;
height:0;
border-left:20px solid transparent;
border-right:20px solid transparent;
border-top:20px solid #E0E1DE;
content:'';
position:absolute;
left:30px;
bottom:-20px;
margin-left:-18px;
z-index:500
}

.cam_information2:after {
width:0;
height:0;
border-left:20px solid transparent;
border-right:20px solid transparent;
border-bottom:20px solid #E0E1DE;
content:'';
position:absolute;
left:30px;
top:-20px;
margin-left:-18px;
z-index:500
}

.cam_information:after,.cam_information2:after {
margin-left:320px
}
